
    <meta charset="utf-8">
    <title>Head Navbar</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link href="https://fontawesome.com/icons" rel="icon">
    <script src="https://kit.fontawesome.com/9cb8fe11af.js" crossorigin="anonymous"></script>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

   

        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">TMS</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a href="headhome.html" class="nav-item nav-link active"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
                    <a href="headdashboard.html" class="nav-item nav-link"><i class="fa fa-desktop" aria-hidden="true"></i>Dashboard</a>
                    <a href="head-coordinator.html" class="nav-item nav-link"><i class="fa fa-user" aria-hidden="true"></i>Co-Ordinator</a>
                    <a href="head-department.html" class="nav-item nav-link"><i class="fa fa-book" aria-hidden="true"></i>Department</a>
                    <a href="head-trainer.html" class="nav-item nav-link"><i class="fa fa-male" aria-hidden="true"></i>Trainer</a>
                    <a href="head-trainee.html" class="nav-item nav-link"><i class="fa fa-users" aria-hidden="true"></i>Trainee</a>
                    <a href="head-reviewer.html" class="nav-item nav-link"><i class="fa fa-user-md" aria-hidden="true"></i>Reviewer</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
             <a href="#" class="sidebar-toggler flex-shrink-0">
                 <i class="fa fa-bars"></i>
             </a>
             <div class="navbar-nav align-items-center ms-auto">
                 <div class="nav-item">
                     <a href="#" class="d-none d-lg-inline-flex">
                         <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Log Out</a>
                     </a>
                 </div>
             </div>
             </nav>
         <!-- Navbar End -->
 
        
         <h2 class="pt-4 px-4">Schedule Review</h2> 
            <div class="container mt-4">
                <div class="col-xl-6">
                    <select class="form-select mb-4 mt-4" aria-label=".form-select-sm example">
                        <option selected>Department</option>
                        <option value="1">.Net</option>
                        <option value="2">Java</option>
                        <option value="3">EBA</option>
                        <option value="3">BFS</option>
                    </select>
        
                    <select class="form-select mb-4 mt-4" aria-label=".form-select-sm example">
                        <option selected>Reviewer</option>
                        <option value="1">Jack</option>
                        <option value="2">Jonny</option>
                        <option value="3">George</option>
                        <option value="3">maria</option>
                    </select>
            
                    <select class="form-select mt-4 mb-4" aria-label=".form-select-sm example">
                        <option selected>Trainee</option>
                        <option value="1">Thomas</option>
                        <option value="2">Sarah</option>
                        <option value="3">Daniel</option>
                        <option value="3">Lisa</option>
                    </select>
                    
                <!--calender-->
                <div class="input-group rounded my-2 mt-4">
                    <input type="date" class="form-control rounded" placeholder="Date" aria-label="date" aria-describedby="search-addon" />
                </div>
            <!--Calender end-->

            <!--Time-->
                    <div class="input-group rounded my-2 mt-4">
                        <input type="time" class="form-control rounded" placeholder="Time" aria-label="Search" aria-describedby="search-addon" />
                    </div>
            <!--Time-->
                </div>
        
            <a routerLink="../assignedreview"><button type="submit" class="btn btn-dark pe-4 px-4 mt-4">Schedule</button></a>
    
        </div>
     
        <footer>
            <div class="container-fluid flex-end pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved. 
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/* This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. */-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
          </footer>

        
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="src/js/main.js"></script>


